<div class="flex gap-x-10">
  <p class="text-[15px] font-medium"><%= user.posts.count %> posts</p>
  <p class="text-[15px] font-medium">0 followers</p>
  <p class="text-[15px] font-medium">0 following</p>
</div>
