<footer class="bg-white border-t border-gray-300 mt-10 dark:bg-slate-800 dark:border-slate-700 fixed bottom-0 w-3/4 right-10">
  <div class="container mx-auto py-8 px-8 text-center text-gray-600 dark:text-white">
    <p>&copy; 2023 Your Instagram Clone. All rights reserved.</p>
  </div>
</footer>
